# Specify filepatterns you want git to ignore.

.DS_Store

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.lof
*.log
*.mw
*.nlo
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.xdy

3dbook-blx.bib
3dbook.pdf
